*{
    box-sizing: border-box;
}

body{ 
    padding: 0;
    margin: auto; 
}

.table, thead, tbody, th, td{
   padding: 20px;
   text-align: left;
   border-collapse : collapse;
}

.promo{
    color:crimson;
}