*{
    box-sizing: border-box;
    background-image: linear-gradient(to bottom, #7a2576, #bf3069, #ea5c4f, #f79732, #e5d534);
}

body{ 
    padding: 0;
    margin: auto; 
}

.table, thead, tbody, th, td{
   padding: 20px;
   text-align: left;
   border-collapse : collapse;
}

.promo{
    color:crimson;
}