body{
  background-color: rgb(175, 175, 241);
  color: rgb(58, 37, 116);
}

h1 {
  font-size: 2rem;
  margin: 0px 0px 20px 0px;
  }
  h2 {
  font-size: 1.8rem;
  font-weight: normal;
  margin: 0px 0px 10px 0px;
  }
  h3, p {
  margin: 0px;
  }
  h3 {
  font-size: 1.2rem;
  font-weight: normal;
  }
  p {
  font-size: 0.9rem;
  font-style: italic;
  }