.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rainbow-text { 
  background: repeating-linear-gradient(125deg, 
  rgb(135, 135, 235) 25px, rgb(135, 135, 235) 50px, 
  rgb(210, 161, 231) 75px, rgb(210, 161, 231) 100px,
  rgb(245, 150, 150) 125px, rgb(245, 150, 150) 150px, 
  rgb(243, 183, 130) 175px, rgb(243, 183, 130) 200px, 
  rgb(240, 240, 150) 225px, rgb(240, 240, 150) 250px,
  rgb(141, 255, 141) 275px, rgb(141, 255, 141) 300px);
  background-clip: text; 
  color: transparent; 
}